In [2]:
import requests
import pandas as pd
import numpy as np
import dash
from dash import dcc, html, Output, Input

In [20]:
# def main():
auctions_data = "/auctions_data/"
auctions_data_slug = "/auction_data/{slug}/"
auctions_info = "/auctions_info"
distilleries_info = "/distilleries_info/"
distilleries_info_slug = "/distillery_data/aberargie/"

url = f"https://whiskyhunter.net/api{auctions_data}"
response = requests.get(url)
print(response)
data = response.json()
df_1 = pd.DataFrame(data)
df_1_filtered = df_1[df_1["dt"]>"2023-01-01"]
df_1_filtered.columns

<Response [200]>

Index(['dt', 'winning_bid_max', 'winning_bid_min', 'winning_bid_mean',
       'auction_trading_volume', 'auction_lots_count',
       'all_auctions_lots_count', 'auction_name', 'auction_slug'],
      dtype='object')

In [28]:
df_1_test = df_1_filtered.groupby("auction_name")[["auction_lots_count","auction_trading_volume"]].sum().sort_values(by="auction_trading_volume",ascending=False)

In [29]:
df_1_test

                             auction_lots_count  auction_trading_volume
auction_name
Whisky Auctioneer                        169862             69665200.00
Unicorn Auctions                         203886             46458546.10
Scotch Whisky Auctions                   163333             38376365.00
Sotheby's Whisky Auction                   8998             32270452.90
WhiskyAuction.com                        147833             24325603.40
Catawiki Whisky Auction                  126159             23220408.90
Whisky Hammer                             54572             18481750.00
The Grand Whisky Auction                  46837             12238617.50
Whisky.Auction                            41987              7978143.00
The Whisky Shop Auctions                  34420              6260210.00
Just Whisky Auctions                      27669              5842946.69
Irish Whiskey Auctions                    26605              5262312.10
Australian Whisky Auctions                22674              4744350.70
WVA Whisky Auctions                       21076              4730241.00
Rum Auctioneer                            18635              4334557.00
Ebay Whisky Auctions                      35895              4244791.70
Speyside Whisky Auctions                  13922              2913399.00
Whisky-Online Auctions                    12884              2879362.00
Bonhams Whisky Auction                     1175              2576539.90
Highland Whisky Auctions                  16088              2285918.88
Whiskey Bidders                            9410              2210802.80
Whisky Bull Auctions                       3304              2055864.51
RumTrades Auction                          3784              1818722.10
Prestige Whisky Auction                   10671              1168926.70
European Whisky Auctions                   5069              1153019.10
McTear's Whisky Auction                    5645              1128020.00
Waddington's Whisky Auction                2404               840564.70
Celtic Whiskey Auction                     3232               606758.30
Whisky Auktion Berlin                      5847               518279.10
WhiskyTrades Auction                       1420               261262.50

In [4]:
url_2 = f"https://whiskyhunter.net/api{auctions_info}"
response = requests.get(url_2)
print(response)
data_2 = response.json()
df_2 = pd.DataFrame(data_2)
df_2.columns

<Response [200]>

Index(['name', 'slug', 'url', 'buyers_fee', 'sellers_fee', 'reserve_fee',
       'listing_fee', 'base_currency'],
      dtype='object')

In [5]:
url_3 = f"https://whiskyhunter.net/api{distilleries_info}"
response = requests.get(url_3)
print(response)
data_3 = response.json()
df_3 = pd.DataFrame(data_3)
df_3.columns

<Response [200]>

Index(['name', 'slug', 'country', 'whiskybase_whiskies', 'whiskybase_votes',
       'whiskybase_rating'],
      dtype='object')

In [6]:
url_4 = "https://whiskyhunter.net/api/distilleries_info/"
response = requests.get(url_4)
print(response)
data_4 = response.json()

<Response [200]>

In [7]:
df_4 = pd.DataFrame(data_4)
df_4(["whiskybase_whiskies"] == 0)

TypeError: 'DataFrame' object is not callable

In [ ]:
whiskey_country_keys = [country for country in df_4["country"]]

C:\Users\Najt\AppData\Local\Temp\ipykernel_17864\1501827092.py:1: FutureWarning: unique with argument that is not not a Series, Index, ExtensionArray, or np.ndarray is deprecated and will raise in a future version.
  pd.unique(whiskey_country_keys)

array(['Scotland', 'Japan', 'Taiwan'], dtype=object)

In [ ]:
import plotly.express as px
df = px.data.gapminder()

In [ ]:
df[["continent","country","iso_alpha","iso_num"]]

     continent      country iso_alpha  iso_num
0         Asia  Afghanistan       AFG        4
1         Asia  Afghanistan       AFG        4
2         Asia  Afghanistan       AFG        4
3         Asia  Afghanistan       AFG        4
4         Asia  Afghanistan       AFG        4
...        ...          ...       ...      ...
1699    Africa     Zimbabwe       ZWE      716
1700    Africa     Zimbabwe       ZWE      716
1701    Africa     Zimbabwe       ZWE      716
1702    Africa     Zimbabwe       ZWE      716
1703    Africa     Zimbabwe       ZWE      716

[1704 rows x 4 columns]